# PlatformIO build system
.pio/
.pioenvs/
.build/
*.elf
*.bin
*.hex
*.map

# Compiled object files
*.o
*.obj
*.a
*.lib

# Core dumps
core

# DS_Store (macOS)
.DS_Store

# VSCode / JetBrains IDE settings
.vscode/
.idea/

# Python bytecode (if you use scripts)
__pycache__/
*.pyc

# Library storage (optional)
.pylibs/

#CLion IDE
.idea/.vscode/
